.dashboard { padding: 25px; color: white; }

.stats-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 18px;
  margin-bottom: 30px;
}

.stat-card {
  display: flex;
  gap: 14px;
  padding: 18px;
  background: #1a1a1a;
  border-left: 6px solid #ffcc00;
  border-radius: 14px;
  transition: .2s;
}

.stat-card:hover { transform: scale(1.03); }

.icon-box {
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2a2a2a;
  border-radius: 10px;
  color: #ffd700;
  font-size: 25px;
}

.value {
  font-size: 28px;
  font-weight: bold;
  color: #ffd700;
}

.charts-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
}

.chart-card {
  background: #111;
  border-radius: 16px;
  border: 1px solid #ffaa00;
  padding: 15px;
  text-align: center;
}
