<div class="repartidor-layout">

  <aside class="sidebar">

    <div class="logo">
      <i class="fa fa-biking"></i>
      <span>Repartidor</span>
    </div>

    <ul class="menu">
      <li><a routerLink="/repartidor" routerLinkActive="active">📦 Pedidos Asignados</a></li>
      <li><a routerLink="/repartidor/historial" routerLinkActive="active">📜 Historial</a></li>
      <li><a routerLink="/inicio">⬅ Volver</a></li>
    </ul>

  </aside>

  <main class="content">
     <router-outlet></router-outlet>
  </main>

</div>
